n8n_workflows/campaign_reporting.json
{
  "name": "Weekly Campaign Performance Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Every Monday 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.LANGCHAIN_API_URL}}/campaigns",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "sort_by",
              "value": "total_attributed_value"
            }
          ]
        }
      },
      "id": "get-campaigns",
      "name": "Get Campaign Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.LANGCHAIN_API_URL}}/attribution/summary",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "days",
              "value": "7"
            },
            {
              "name": "model_type",
              "value": "w_shaped"
            }
          ]
        }
      },
      "id": "get-attribution-summary",
      "name": "Get Attribution Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 450]
    },
    {
      "parameters": {
        "jsCode": "// Format campaign data for email report\nconst campaigns = $input.first().json.campaigns || [];\nconst summary = $input.all()[1].json;\n\nconst topCampaigns = campaigns.slice(0, 10);\n\nlet html = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    h1 { color: #333; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n    th { background-color: #FF5733; color: white; }\n    .highlight { background-color: #f0f8ff; }\n    .metric { font-size: 24px; font-weight: bold; color: #FF5733; }\n  </style>\n</head>\n<body>\n  <h1>📊 Weekly Campaign Performance Report</h1>\n  <p><strong>Period:</strong> Last 7 Days | <strong>Generated:</strong> ${new Date().toLocaleDateString()}</p>\n  \n  <h2>Summary Metrics</h2>\n  <table>\n    <tr>\n      <td><strong>Total Contacts:</strong></td>\n      <td class=\"metric\">${summary.total_contacts || 0}</td>\n    </tr>\n    <tr>\n      <td><strong>Total Attributed Value:</strong></td>\n      <td class=\"metric\">$${(summary.total_attributed_value || 0).toLocaleString()}</td>\n    </tr>\n    <tr>\n      <td><strong>Avg Value per Contact:</strong></td>\n      <td class=\"metric\">$${(summary.average_value_per_contact || 0).toFixed(2)}</td>\n    </tr>\n    <tr>\n      <td><strong>Total Touchpoints:</strong></td>\n      <td class=\"metric\">${summary.total_touchpoints || 0}</td>\n    </tr>\n  </table>\n\n  <h2>Top 10 Campaigns</h2>\n  <table>\n    <thead>\n      <tr>\n        <th>Campaign</th>\n        <th>Source</th>\n        <th>Touchpoints</th>\n        <th>Conversions</th>\n        <th>Attributed Value</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\ntopCampaigns.forEach((campaign, index) => {\n  const rowClass = index % 2 === 0 ? 'highlight' : '';\n  html += `\n      <tr class=\"${rowClass}\">\n        <td>${campaign.utm_campaign || 'N/A'}</td>\n        <td>${campaign.utm_source || 'N/A'}</td>\n        <td>${campaign.total_touchpoints || 0}</td>\n        <td>${campaign.total_conversions || 0}</td>\n        <td>$${(campaign.total_attributed_value || 0).toLocaleString()}</td>\n      </tr>\n  `;\n});\n\nhtml += `\n    </tbody>\n  </table>\n\n  <h2>Top 5 Campaigns by Value</h2>\n  <ul>\n`;\n\n(summary.top_campaigns || []).slice(0, 5).forEach(campaign => {\n  html += `    <li><strong>${campaign.campaign}:</strong> $${campaign.attributed_value.toLocaleString()}</li>\\n`;\n});\n\nhtml += `\n  </ul>\n\n  <p style=\"margin-top: 40px; color: #666; font-size: 12px;\">\n    This report was automatically generated by the Hybrid LangChain + n8n Attribution System.<br>\n    For questions or to modify this report, contact Marketing Operations.\n  </p>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html_report: html,\n    campaigns: campaigns,\n    summary: summary,\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "format-report",
      "name": "Format Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "marketing-ops@company.com",
        "toEmail": "marketing@company.com, sales@company.com",
        "subject": "Weekly Campaign Performance Report - {{new Date().toLocaleDateString()}}",
        "emailType": "html",
        "message": "={{$json.html_report}}"
      },
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345678",
          "mode": "list"
        },
        "text": "📊 *Weekly Campaign Report Generated*\n\nTotal Attributed Value: ${{$json.summary.total_attributed_value.toLocaleString()}}\nTotal Contacts: {{$json.summary.total_contacts}}\nTop Campaign: {{$json.summary.top_campaigns[0]?.campaign || 'N/A'}}\n\nReport sent to marketing@company.com"
      },
      "id": "notify-slack",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ABC123DEF456GHI789JKL012MNO345PQR678STU901VWX",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campaign Reports",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{new Date().toISOString()}}",
            "total_value": "={{$json.summary.total_attributed_value}}",
            "total_contacts": "={{$json.summary.total_contacts}}",
            "top_campaign": "={{$json.summary.top_campaigns[0]?.campaign}}"
          }
        },
        "options": {}
      },
      "id": "archive-google-sheets",
      "name": "Archive to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Every Monday 9am)": {
      "main": [
        [
          {
            "node": "Get Campaign Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Attribution Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Metrics": {
      "main": [
        [
          {
            "node": "Format Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attribution Summary": {
      "main": [
        [
          {
            "node": "Format Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report HTML": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "Reporting",
      "id": "3"
    },
    {
      "name": "LangChain Integration",
      "id": "2"
    }
  ]
}
